@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import url(colors.css);

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


body {
  background-color: var(--color2);
  color: var(--color1);
  font-family: "Roboto", sans-serif;
}

header {
  padding: 20px;
}

.menuList {
  justify-content: center;
  display: flex;
  list-style: none;
}

.menu__item {
  list-style: none;
}

.menu__link {
  padding-left: 100px;
  text-decoration: none;
  color: var(--color1);
  font-size: 30px;
}

.banner__container {
  justify-content: center;
  display: flex;
  align-items: center;
}

#banner h1 {
  font-size: 64px;
}

main {

  width: 100%;
  padding: 20px;
  background-color: var(--color3);
}

#principal {
  width: 1330px;
  margin: 0 auto;
}

.container {
  margin-top: 50px;
  width: 100%;
  justify-content: space-evenly;
  display: flex;
}

.container img {
  width: 602px;
  height: 340.99px;
}

main h2 {
  padding-top: 56px;
  font-size: 48px;
  padding-left: 41px;
}

main p {
  color: var(--color4);
  font-size: 30px;
  padding-top: 40px;
  padding-left: 41px;
}

main a {
  padding: 30px;
  text-align: center;
  display: block;
  text-decoration: none;
  font-size: 30px;
  color: var(--color4);
  font-weight: 700;
}

footer {
  justify-content: space-around;
  height: 160px;
  display: flex;
  align-items: center;
}

.footer__img {
  width: 60px;
  padding: 10px;
}

.footer__container{
  align-items: center;
  width: 1234px;
  display: flex;
  justify-content: space-between;
}


